body {
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

/* -------Heading-Section--------------- */




.name {
  color: orangered;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
}

.scroll {
  font-size: 1rem;
  font-family: monospace;
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 1.3rem;
  margin: auto;
  cursor: pointer;
}

.scroll-icon {
  border-radius: 25%;
  height: 1rem;
  width: 1rem;
  position: relative;
  justify-self: center;
  background-position: center;
  background-size: contain;
  z-index: 11;
  background-color: rgba(218, 165, 32, 0.877);
  background-blend-mode: multiply;
  background-image: url(images/icon.png);
  animation: move 3s linear infinite;
  bottom: -5;
  margin: auto;
}

.first-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(images/IMG-20190109-WA0003\(0\).jpg);
  background-size: contain;
  background-position: right -0.01rem;
  background-size: 135px;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(90, 83, 83);
  position: absolute;
  top: 6rem;
}

.header {
  font-size: 1.6em;
  font-family: "Satisfy", cursive;
  color: rgba(255, 255, 255, 0.863);
  z-index: 9;
  position: absolute;
  top: 18rem;
}

.heading {
  padding: 0;
  margin: 0;
  margin-bottom: -0.9rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  background-image: url(images/backg.jpg);
  background-color: rgba(36, 35, 35, 0.226);
  background-blend-mode: multiply;
}

.divider {
  width: 8rem;
  height: 6px;
  z-index: 9;
  background-color: brown;
  position: absolute;
  top: 20rem;
  border-radius: 10rem;
}

.subheader {
  z-index: 9;
  color: white;
  position: absolute;
  top: 23rem;
  text-align: center;
  font-family: cursive;
  font-size: 1.13rem;
  width: 50vw;
}

.me {
  height: 12rem;
  width: 12rem;
  transform: rotate(90deg);
  border: 3px solid grey;
  border-radius: 50%;
  position: absolute;
  top: 8rem;
}


/* ------------Nav-Bar Section---------- */
.icon {
  height: 2.3rem;
  width: 2.3rem;
  background-image: url("images/logo1.png");
  background-size: contain;
  position: absolute;
  left: 14.3rem;
  top: 0.6rem;
}

.navbar-brand {
  font-size: 2rem;
  font-style: bold;
  font-weight: bold;
  position: absolute;
  top: 0.1rem;
  padding-top: 0;
  left: 5.3rem;
}

.big {
  position: relative;
  display: inline-flex;
}

.dropdown-menu .one {
  left: 0rem;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 9;
}

.navbar-nav {
  text-align: end;
}
.nav-big {
  color: rgba(245, 245, 245, 0.87);
  cursor: pointer;
}

.nav-big:hover {
  color: rgba(245, 245, 245, 0.288);
}

.end {
  color: orangered;
  position: fixed;
  top: 0.1rem;
  left: 10.3rem;
  font-size: 2rem;
  font-style: bold;
  font-weight: bolder;
  z-index: 9;
  background: none;
}

.end:hover {
  text-decoration: none;
  color: orangered;
}



/* -----------Pushbar Section----------- */

.line {
  background-color: rgb(42, 42, 53);
  height: 1.2rem;
  width: 100%;
  position: absolute;
  top: 95vh;
}

.main {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 0.5rem;
  background-size: cover;
  background-image: url(images/menu1.png);
  right: 0.5rem;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.164);
  border: 0;
  border-radius: 50%;
}

.a {
  border-bottom: 1px solid white;
  text-align: end;
  color: white;
  font-size: 1.2rem;
  height: 2rem;
  position: absolute;
  top: 5.4rem;
  font-family: cursive;
  list-style: circle;
  margin-bottom: 5rem;
}

.b {
  border-bottom: 1px solid white;
  text-align: end;
  color: white;
  font-size: 1.2rem;
  height: 2rem;
  position: absolute;
  top: 7.3rem;
  font-family: cursive;
  list-style: circle;
  text-emphasis: none;
}

.c {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  color: white;
  font-size: 1.2rem;
  height: 2rem;
  position: absolute;
  top: 9.2rem;
  font-family: cursive;
  list-style: circle;
  left: 2.3rem;
  text-emphasis: none;
  cursor: pointer;
}

.dropdown-menu {
  background-color: rgb(212, 209, 209);
}

.two {
  margin-left: auto;
  max-width: fit-content;
  background-color: rgb(212, 209, 209);
}

.a:hover {
  background-color: rgba(193, 193, 226, 0.212);
  transform: translateZ(0) translateX(-10%);
  transition: transform 1s ease;
  box-shadow: 0 0 2px 2px white;
  cursor: pointer;
}

.b:hover {
  background-color: rgba(193, 193, 226, 0.212);
  transform: translateZ(0) translateX(-10%);
  transition: transform 1s ease;
  box-shadow: 0 0 2px 2px white;
}

.c:hover {
  transform: translateZ(0) translateX(-10%);
  transition: transform 1s ease;
  box-shadow: 0 0 2px 2px white;
}

.close {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(243, 239, 239, 0);
  background-blend-mode: multiply;
  background-image: url(images/menu3.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0.1rem;
  right: 0rem;
}

.close:hover {
  box-shadow: 0 0 2px 2px white;
}

.divider {
  z-index: 1000;
}

/* ----------------About Section ----------------- */


.About-text {
  height: 2.3rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  top: 1rem;
  font-family: "satisfy";
  margin-top: 2rem;
  padding-right: 2rem;
  margin-right: 3rem;
}

.about-img {
  background-image: url(images/DSC_0272_3.JPG);
  background-size: contain;
  background-position: center;
  min-height: 24rem;
  background-repeat: no-repeat;
  opacity: 0.9/5;
  margin-bottom: 3rem;
}

.About-Me {
  background-color: rgba(170, 165, 165, 0.616);
  margin-top: 1.1rem;
}

.page-section-2 h3 {
  font-size: 2rem;
  font-family: "satisfy";
  padding-top: 1rem;
}




/* 
<--------Mission  Section ----------> */


.page-section-mission {
  background-color: rgb(212, 211, 211);
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: 2rem;
  margin-bottom: -1.1rem;
}


.carousel {
  border: 2px solid black;
}

.carousel img {
  max-height: 35rem;
  image-rendering: optimizeQuality;
  background-color: rgba(0, 0, 0, 0.527);
}


/* --------------Cards/Images Section----------- */
.mission {
  position: relative;
  height: 2.3rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-family: "satisfy";
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
}


.card-text {
  color: black;
}

.card-title {
  font-family: monospace;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  font-style: italic;
}
.image1 {
  display: block;
  margin-left: 55vw;
  margin-right: 6rem;
}

.image2 {
  display: block;
  margin-left: 30vw;
  margin-right: 6rem;
}

.image3 {
  margin-top: 4rem;
}

.image4 {
  top: -5rem;
  display: block;
  margin-left: 35vw;
  margin-right: auto;
}

.image5 {
  right: 0rem;
}
.image6 {
  top: -5rem;
  margin-right: auto;
  margin-left: auto;
}

.card-image {
  width: 40vw;
  height: auto;
}

.four-title {
  font-family: monospace;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: left;
  font-style: italic;
  display: inline-block;
  margin-left: 3vw;
  margin-right: 1rem;
  position: relative;
}
.four-text {
  position: relative;
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  margin-left: -11rem;
}
.description {
  position: relative;
  top: -8rem;
  width: 50vw;
  display: inline-block;
  margin-left: 1.5rem;
  width: 40vw;
}

.description-3 {
  position: relative;
  top: -9rem;
  width: 50vw;
  margin-left: 55vw;
  display: inline-block;
  width: 40vw;
}
.red-line {
  margin-top: 1rem;
  position: relative;
  height: 0.25rem;
  width: 50vw;
  background-color: orangered;
}
.description-line {
  margin-top: 4rem;
  position: relative;
  height: 0.25rem;
  width: 50vw;
  background-color: orangered;
}

.five-title,
.five-text {
  display: inline-block;
  margin-left: 50vw;
  position: relative;
  top: -30vw;
}
.five-title {
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  font-size: 2.3rem;
}
.five-line {
  top: -37vw;
  margin-left: 50vw;
}
.six-title {
  font-family: monospace;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  font-style: italic;
}
.six-text {
  position: relative;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  margin-left: 10vw;
  margin-right: 1rem;
}
.six-line {
  width: 97vw;
}


.page-section-card {
  width: 100%;
  background-color: rgba(176, 225, 247, 0.602);
}

.page-section-card .Meaning {
  height: 2.3rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "satisfy";
  padding-top: 1rem;
  color: rgb(12, 12, 12);
  z-index: 100;
}

.dropdown-items{
  animation: ease 0.7s ;
}

.cards img:hover {
  background-color: black;
  cursor: pointer;
  z-index: 99;
  transform: translateZ(0) translateX(-4%);
  transition: transform 1s ease;
}


/* ---------Progress Bar Section ----------*/

.Skillset {
  margin-bottom: 5rem;
}

.bar-container{
  color: white;
}


.progress-bar {
  text-align: center;
  animation: move 8s linear infinite;
}

@keyframes move {
  60% {
    background-position-y: 50px;
  }
}

#progress-bar1 {
  text-align: center;
  max-width: 35.5vw;
  width: 25vw;
  height: 4rem;
}

#progress-bar2 {
  max-width: 34.5vw;
  width: 25vw;
  height: 4rem;
}

#progress-bar3 {
  max-width: 40vw;
  width: 25vw;
  height: 4rem;
}

#progress-bar4 {
  max-width: 35.5vw;
  width: 25vw;
  height: 4rem;
}

#progress-bar5 {
  max-width: 40vw;
  width: 31vw;
  height: 4rem;
}

#progress-bar6 {
  max-width: 37vw;
  width: 31vw;
  height: 4rem;
}

#progress-bar7 {
  max-width: 28vw;
  width: 31vw;
  height: 4rem;
}

#progress-bar8 {
  max-width: 24vw;
  width: 31vw;
  height: 4rem;
}

.progress {
  height: 3vw;
  max-height: 2.3rem;
  margin-bottom: 3rem;
}

.page-section-2 {
  border: 0;
  height: 85vh;
  min-height: 20rem;
  margin-top: 0.2rem;
  background-color: grey;
}



.CSS::after {
  color: black;
  content: " 75%";
  white-space: pre;
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.JS::after {
  color: black;
  content: "  80%";
  white-space: pre;
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.HTML::after {
  color: black;
  content: " 90%";
  white-space: pre;
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.Bootstrap::after {
  color: black;
  white-space: pre;
  content: "\00a0 80%";
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.jquery::after {
  color: black;
  white-space: pre;
  content: "\00a0 90%";
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.react::after {
  color: black;
  white-space: pre;
  content: "\00a0 85%";
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.C-sharp::after { 
   color: black;
  white-space: pre;
  content: "\00a0 60%";
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}

.python::after {
   color: black;
  white-space: pre;
  content: "\00a0 50%";
  font-size: 2vw;
  padding-top: 0.1rem;
  align-self: end;
}



/* _--------------------Contact Section ----------------- */



.contact-heading {
  height: 2.3rem;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 3rem;
  font-family: "satisfy";
}

.contact-Facebook {
  height: 5rem;
  background-size: 3rem;
  background-image: url(images/facebook.png);
  height: 5rem;
  width: 5rem;
  background-size: contain;
  margin: 2rem;
  cursor: pointer;
}

.contact-Facebook::after {
  content: "Okoroji\00a0 Joseph";
  font-family: cursive;
  position: relative;
  bottom: -6rem;
  margin-left: -1rem;
  cursor: pointer;
}

.contact-linked-in {
  height: 5rem;
  background-size: 3rem;
  background-image: url(images/Linked-in.webp);
  height: 5rem;
  width: 5rem;
  background-size: contain;
  margin: 2rem;
  cursor: pointer;
}

.contact-linked-in::after {
  content: "Okoroji\00a0 Faith";
  font-family: cursive;
  position: relative;
  bottom: -6rem;
  margin-left: -1rem;
  cursor: pointer;
}

.contact-twitter {
  height: 5rem;
  background-size: 3rem;
  background-image: url(images/twitter.png);
  height: 5rem;
  width: 5rem;
  background-size: contain;
  margin: 2rem;
  cursor: pointer;
}

.contact-twitter::after {
  content: "Jaybee_";
  font-family: cursive;
  position: relative;
  bottom: -6rem;
  margin-left: -1rem;
  cursor: pointer;
}

.contact-whatsapp {
  background-size: 10rem;
  background-image: url(images/whatsapp.png);
  height: 10rem;
  width: 10rem;
  background-size: contain;
  margin-top: -1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: 10px black;
  cursor: pointer;
}

.contact-whatsapp::after {
  content: "08143497066";
  font-family: cursive;
  position: relative;
  bottom: -8.5rem;
  margin-left: 2rem;
  cursor: pointer;
}

.contact-gmail {
  background-size: 7rem;
  background-image: url(images/gmail.png);
  height: 7rem;
  width: 7rem;
  margin: 2rem;
  background-size: contain;
  margin-top: 1.35rem;
  cursor: pointer;
}

.contact-gmail::after {
  content: "okorojijaybee1@gmail.com";
  font-family: cursive;
  position: relative;
  bottom: -6rem;
  left: -2rem;
  cursor: pointer;
}

.contact-phone {
  background-size: 5rem;
  background-image: url(images/phone.png);
  height: 6rem;
  width: 6rem;
  margin: 2rem;
  background-size: contain;
  margin-top: 1.35rem;
  cursor: pointer;
}

.contact-phone::after {
  content: "08143497066";
  font-family: cursive;
  position: relative;
  bottom: -6rem;
  cursor: pointer;
}

.contact-con {
  margin-top: 15rem;
}

.get-in-touch {
  font-size: 5rem;
  color: red;
  padding-bottom: 5rem;
}



.divider-2 {
  width: 8rem;
  height: 6px;
  z-index: 8;
  background-color: brown;
  position: relative;
  top: -2rem;
  border-radius: 10rem;
}


/* _--------------------Site Footer ----------- */
.site-footer {
  width: 100%;
  height: 2.1rem;
  background-color: grey;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: 2vh;
  bottom: -2rem;
  z-index: 100;
}


.foot-con {
  margin-right: 0rem;
  justify-content: center;
}



/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
                                 /* Reponsive styling */

@media (min-width: 967px) {
  .image4 {
    position: relative;
    margin-top: -6rem;
  }
  .five-line {
    top: -15vw;
  }
  .five-title {
    top: -15rem;
  }
  .five-text {
    top: -12rem;
  }
}

@media (min-width: 768px) {
  .four-title {
    top: -4rem;
  }
  .four-text {
    top: 4rem;
  }
  .image4 {
    top: -7rem;
    margin-left: 50vw;
  }
  .description {
    width: 50vw;
    display: inline-block;
    margin-right: auto;
  }
  .four-line {
    position: relative;
    top: 1rem;
  }
}

@media (max-width: 768px) {
  .four-title {
    top: -4rem;
  }
  .four-text {
    position: relative;
    top: 5rem;
  }
  .image4 {
    top: -7rem;
    margin-left: 50vw;
  }
  .image6 {
    top: -7rem;
    margin-left: 30vw;
  }
  .four-line {
    position: relative;
    top: 1rem;
  }
}

@media (max-width: 670px) {
  .navbar .big {
    display: none;
  }
  .mission {
    margin-bottom: 1.2rem;
  }
  .card-image {
    width: 40vw;
    height: auto;
  }
  .four-title {
    top: -4rem;
  }
  .four-text {
    top: 4rem;
  }
  .image4 {
    top: -7rem;
    margin-left: 50vw;
  }
}

@media (min-width: 670px) {
  .main {
    display: none;
  }
}

@media (max-width: 540px) {
  * {
    font-size: small;
  }
  .image4 {
    top: -5rem;
    display: block;
    margin-left: 55vw;
  }
  .description-line {
    top: -3rem;
  }
  .contact-phrase {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .navbar {
    width: 100vw;
  }
  .About-text {
    margin: 0.5rem;
  }
  .scroll {
    display: none;
  }
  .card-image {
    width: 40vw;
    height: auto;
  }

  .description-3 {
    margin-top: 2rem;
  }
  .image4 {
    margin-left: 35vw;
  }
  .four-title {
    top: -2rem;
    /* font-size: 0.9rem; */
  }
  .four-text {
    top: 5.5rem;
    margin-left: -12.2rem;
  }
  .four-line {
    top: 3rem;
  }
  .five-text {
    position: relative;
    top: -12rem;
    /* font-size: 0.7rem; */
    margin-left: 50vw;
  }
  .five-line {
    top: -15rem;
    margin-left: 47vw;
  }
  .six-text {
    top: -2.5rem;
    /* font-size: 0.7rem; */
  }
  .six-title {
    position: relative;
    top: -4rem;
    /* font-size: 0.9rem; */
  }
  .image4 {
    top: -7rem;
    margin-left: 50vw;
  }
  .six-line {
    top: 0rem;
  }
}

@media (max-width: 460px) {
  .five-line {
    position: relative;
    top: -12.5rem;
  }
  .five-text {
    top: -9rem;
  }
}

@media (max-width: 400px) {
  .five-title {
    top: -8.7rem;
  }
  .five-text {
    top: -8rem;
  }
  .five-line {
    top: -10rem;
  }
  .image6 {
    position: relative;
    top: -5.5rem;
  }
}
